<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{title.mod1.list}">List</title>
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>

<body>
    <h2 th:text="#{title.mod1.list}">List</h2>

    <a th:href="@{/mod1/create?form}" th:text="#{label.w1.mod1.createNew}">CreateNew</a>

    <hr>
    <table class="todo-list">
        <tr>
            <th th:text="#{label.w1.mod1.prop1}">prop1</th>
            <th th:text="#{label.w1.mod1.prop2}">prop2</th>
            <th th:text="#{label.w1.mod1.prop3}">prop3</th>
            <th></th>
        </tr>
        <tr th:each="mod1 : ${list}">
            <td th:text="${mod1.prop1}">prop1</td>
            <td th:text="${mod1.prop2}">prop2</td>
            <td th:text="${mod1.prop3}">prop3</td>
            <td>
                <form th:action="@{/mod1/{id}(id=${mod1.id})}">
                    <button th:text="#{label.w1.mod1.detail}">Detail</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>